ftchat/__pycache__/__init__.cpython-310.pyc
ftchat/applicationConf.py
ftchat/__pycache__/*
ftchat/migrations/__pycache__/__init__.cpython-310.pyc
ftchat_backend/__pycache__/*
.vscode/*
ftchat/views/__pycache__/*
ftchat/migrations/*
ftchat/utils/__pycache__/*
