ftchat/__pycache__/__init__.cpython-310.pyc
ftchat/applicationConf.py
ftchat/__pycache__/*
ftchat/migrations/__pycache__/__init__.cpython-310.pyc
ftchat_backend/__pycache__/*
.vscode/*
__pycache__/*
ftchat/views/__pycache__/*
ftchat/migrations/*
ftchat/utils/__pycache__/*
ftchat/service/__pycache__/*
ftchat/views/account/__pycache__/*
ftchat/views/gpt/__pycache__/*
ftchat/views/message/__pycache__/*
ftchat/views/conversation/__pycache__/*
ftchat/views/group/__pycache__/group_views.cpython-311.pyc
ftchat/*/__pycache__/*
ftchat/views/group/__pycache__/*
ftchat/views/group/__pycache__/group_views.cpython-310.pyc
ftchat/views/attachment/__pycache__/*
